if data.user.registered
    if data.user.address == current_user.address
        h2 Your Wallet 
            span (#{data.user.name})
        p #[a(href='/escrows/'+data.user.address) Escrow List]    
    else
        h2 Profile: #{data.user.name}
    
    ul
        li Wallet: #{data.user.address}
        li Carbon: #{data.user.carbon}
        li Credits (tradeable): #{data.user.gold}
        li Credits (offset): #{data.user.offsets}
    if data.stamper
        ul Stamper: #{data.stamper.address}
            li Active: 
                span= data.stamper.active
            li Stamp Rate: 
                span= data.stamper.rate
            li Min Payment: 
                span= data.stamper.minpt
            li Last Stamp: 
                span= data.stamper.last
    else
        //span No
    include _carbon.pug
    include _stamper.pug
else
    p Wallet not registered