if !data.stamper && current_user.governor
    form(action = '/users/stamper/'+data.user.address, method = 'POST', name='addStamper') 
        label(for = 'addStamper') Nominate #{data.user.name} as Stamper
        br
        label(for = 'stampRate') Stamp Rate :
        input(name = 'stampRate' placeholder='stamp rate kg/s')
        //label(for = 'minPayment') Minimum Payment :
        //input(name = 'minPayment' placeholder='min payment $/kg')

        input(name = 'stamper' type="hidden" value=data.user.address )
        button(type = 'submit') Submit   
else if data.stamper && current_user.address == data.user.address
    form(name = 'stamp')
        input(name = 'stamperAddr' type="hidden" value=data.stamper.address )
        button(type = 'Submit') Stamp Carbon
else if data.stamper
    form(name = 'stamperVote')
        input(name = 'stamperAddr' type="hidden" value=data.stamper.address )
        label(for = 'voteFor'+data.stamper.address) Select to approve/reject stamper nomination
        br
        span
            input(name = 'voteFor'+data.stamper.address id='yes'+data.stamper.address type='radio' checked=data.stamper.governorVote value='true')
            label(for='yes'+data.stamper.address) Yes
        span
            input(name = 'voteFor'+data.stamper.address id='no'+data.stamper.address type='radio' checked=!data.stamper.governorVote value='false')
        
            label(for='no'+data.stamper.address) No
        button(type = 'Submit') Submit Vote 
        p Total Votes 
            span Yes: #{data.stamper.yay}
            span No: #{data.stamper.nay}        
        if false && data.stamper.governorVote!= null
            p My Vote: 
                if data.stamper.governorVote
                    span Yes
                else
                    span No
