extends layout
block content
  h1= site.title
  div Author: #{author.name}
  div Contact: #{author.contact}

  p
    b Total Carbon (kg CO2e): #{carbon}
  p 
    b Total Gold (certified carbon emissions): #{gold}
  p
    a(href='/users') Total Users: #{users}
  p
    a(href='/users/stampers') Total Stampers: #{stampers}

  p A decentralized application for tracking "carbon" in commercial transactions and internationl trade flows. It operates on a public ledger (Ropsten Ethereuem testnet) that provides data for carbon waste management programs, and to promote the #[a(href='https://www.kapsarc.org/research/publications/achieving-climate-goals-by-closing-the-loop-in-a-circular-carbon-economy/',target="_blank") Circular Carbon Economy] concept.

  h3 Carbon
  p Potential and embodied emissions measured in Kilograms (Kg) of carbon dioxide equivalent (CO2e) greenhouse gases.

  h3 CarboGold
  p Emission offset certificates, issued by Stampers, carbon waste managers that offer emission offset certificates for a fee (e.g. natural resource management, active carbon catpure and storage/reuse technologie, ...). 
 
  h3 Stamper Network
  p A directory of verified stampers, built on robust selection and monitoring protocols operated by a global governance body composed of public and private entities (e.g. governments instiutions, envirnomental monitoring agencies, reserach institutes, universities, NGOs, and industry participants).  
    Stampers are governed by democratically selected policy levers that define how much carbon they can offset based on their registered capacity, such as a stamping rate, and carboGold reserves quotas.
    The Stamper network will be built on a Decentralized Identity (DID) management platform, for example the #[a(href='/https://www.hyperledger.org/projects/hyperledger-indy', target="_blank") Hyperledger Indy] blockcahin project. 
