extends layout
block content
  h1= site.title
  head
    title User Form

  body
    p= site.description
    p= site.carbon
    p= site.ledger
    p= site.stampers
    p= site.stamper_selection

    div Total Carbon (kg CO2e): 
      span= tags
    div Total Gold (certified carbon emisisons): 
      span= gold
    div Total 
      a(href='/users') Users
      span : #{users}
    div Total 
      a(href='/users/stampers') Stampers
      span : #{stampers}

  include search.pug