extends layout
block content
  h1= title
  head
    title User Form

  body
    p 

    div Total Tags: 
      span= tags
    div Total Gold: 
      span= gold
    div Total 
      a(href='/users') Users
      span : #{users}
    div Total 
      a(href='/users/stampers') Stampers
      span : #{stampers}

  include search.pug