extends layout
block content
  h1 #{site.title}
  small 
    div Author: #{author.name}
    div Contact: #{author.contact}
  div
    b Total Carbon (kg CO2e): #{carbon}
  div 
    b Total Offset Carbon (kg CO2e): #{gold}
  div
    a(href='/users') Total Users: #{users}
  div
    a(href='/users/stampers') Total Stampers: #{stampers}

  hr
  p A distributed carbon accounting enginge to track embodied emission across energy intense supply chains.

  p 
    span 
      b Our Mission: 
    span support the #[a(href='https://www.kapsarc.org/research/publications/achieving-climate-goals-by-closing-the-loop-in-a-circular-carbon-economy/',target="_blank") Circular Carbon Economy] through carbon emission tracking and management. Provide an open voluntary platform to esablishin linkage across corporate GHG inventories.

  h2 Decarbonized token economy 
  p A decarbonized token economy uses secure digital contracts. We have deployed a prototype on a public distributed ledger (#[a(href='https://ethereum.org/',target="_blank") Ethereum] Ropsten testnet).

  p To register and submit transactions on the testnet enable your browser with  #[a(href='https://metamask.io/',target="_blank") Metamask], and request funds from a #[a(href='https://faucet.ropsten.be/',target="_blank") Ropsten faucet]

  h2 Distributed Carbon Accounting 
  p The Carbon Accounting Token (CAT) network supports a #[a(href='https://en.wikipedia.org/wiki/Token_economy',target="_blank") decarbonized token economy] using a voluntary accounting ledger. Organizations can issue and transfer carbon tokens, measured in Kilograms (Kg) of carbon dioxide equivalent (CO2e), using a public address. The address is secured with a private key stored securely within Metamask. 
  
  p Tokens are issued by organizations and exchanged as part of commercial transactions through emission allocation agreements (escrow contracts).

  p CAT transactions (inputs/outputs) are used to describe an account holders emission inventories. Transactions are classified differently based on what side the user is on. E.g.  direct scope 1 (input), indirect scope 2 (input), and indirect scope 3 upstream (input) or downstream (output), as defined by the #[a(href='https://ghgprotocol.org/corporate-standard',target="_blank") GHG Protocol ].

  h2 Carbon Token Contracts - the CCE consortium

  p The CCE consortium includes industrial stakeholders that coordinate carbon accounting practices in their transition to a low carbon economy.

  p We enable stakeholders to better track carbon as it moves across a supply chain. This information can then be used to produce audited and verified carbon footprint metrics, emission certificate, support the creation of carbon offset credits, that align with carbon pricing mechanisms in the real world.

  h3 Carbon Orgnizational Governance (COG) identity foundation
  p The COG foundation is a disitrbuted institution of verified Stampers, or carbon waste managers (e.g. natural resource stewards, active carbon catpure and storage services). The network is based on core governance principles:
    ul
      li <strong>Identify</strong> Potential carbon managment organziations
      li <strong>Select</strong> carbon managers through a democratic voting/oversight protocol
      li <strong>Verify</strong> carbon management activities through trusted reporting agencies (reffered to as oracle services)
      li <strong>Prove</strong> exchange carbon certificates and offset credits
  
  h3 Emission certificates
  p Emissiion certificate are generated through the verification of emission inventories by recognized carbon auditors registered with the COG foundation. 
  p The auditing/verification process invovles a private network (e.g. Hyperledger Fabric). Here orgnizations  characterize CAT entries (i.e., input/output transactions) as detailed emission inventories following recongnized reporting standards (e.g., scope 1,2,3). 
  p A Farbic network supports private data collections that organizations can use to relay senstaive or private data to auditors for verificaiton of their CAT inventories. This keep them separate from other participants in the certification channel.

  h3 Carbon offset credits.
  p Carbon storage units (CSU) are emission offset tokens, representing the removal of cabron from the atmosphere.
  p The minting of CSU is the first step in valuing carbon within the token economy. Minted tokens can:
    ul 
      li serve as a funding tool for decarbonization efforst 
      li be traded within existing carbon markets
      li support voluntary market mechanisms (Article 6 of Pris)

  p Exchange of stamped against unstamped carbon to influence behavior: 
    ul
      li Voluntary offset: pay for stamped carbon to offset your emissions (e.g. flight purchase) 
      li Offset guarantee: purchase and lock up stamped carbon to comply with emission quotas in an existing carbon market 
 
  p COG is under devleopment, and will be rolled out as permissioned Decentralized Identity (DID) network. It invovles robust selection and monitoring by reputable public and private institutions; governments, envirnomental monitoring agencies, research institutes, universities, NGOs, and industry participants.  

  h3 CSU Circulation
  p Stampers are governed by policies that control the ciculation of CarboGold certificates. This includes the rate at which CAT can be offset, reserve requirements for stamper, and others. Policies apply to the individual DIDs of stamper accounts, that expire and renew on a rolling basis. Before a policy is renewed/activated the stamper's DID must pass through a voting stage to reach consensus on their offset capability and management.

  h3 DID Infrastructure
  p COG will be built using open source code from the #[a(href='/https://www.hyperledger.org/projects/hyperledger-indy', target="_blank") Hyperledger Indy] blockcahin project, based on the design of the #[a(href='/https://sovrin.org/', target="_blank") Sovrin Network].
