extends layout
block content
  h1= site.title
  div Author: #{author.name}
  div Contact: #{author.contact}

  p
    b Total Carbon (kg CO2e): #{tags}
  p 
    b Total Gold (certified carbon emissions): #{gold}
  p
    a(href='/users') Total Users: #{users}
  p
    a(href='/users/stampers') Total Stampers: #{stampers}

  p This is a decentralized application for tracking "carbon" in commercial transactions and internationl trade flows. It operates on a public ledger (currently Ropsten testnet) providing data for a carbon waste management network that promotes the #[a(href='https://www.kapsarc.org/research/publications/achieving-climate-goals-by-closing-the-loop-in-a-circular-carbon-economy/',target="_blank") Circular Carbon Economy] concept.

  h3 Carbon
  p Potential and embodied emissions measured in Kilograms (Kg) of carbon dioxide equivalent (CO2e) greenhouse gases.

  h3 CarboGold
  p Emission offset certificates, issued by stampers. Stampers are the carbon waste managers offering their services for a fee (e,g, natural resource management, active carbon catpure and storage/reuse technologie, ...). Stampers are regulated by specific set of rules that define how much carbon they can offset based on their registered capacity, including a rate of stamping

  h3 Stamper Network
  p We provide a directory of verified stampers. Initally the network is managed by a peer voting and staking mechanism. As the network develops selection and monitoring of stampers will be perfofmed by a global governance committee consisiting of public and private entities, such as governments instiutions, envirnomental monitoring agencies, reserach institutes and universities, NGOs, and industry participants. We envision the Stamper Network operating on a Decentralized Identity network (DID), such as the #[a(href='/https://www.hyperledger.org/projects/hyperledger-indy', target="_blank") Hyperledger Indy] project.
