extends layout
block content
  h1= site.title
  div Author: #{author.name}
  div Contact: #{author.contact}
  
  p= site.description
  p= site.carbon
  p= site.ledger
  p= site.stampers
  p= site.stamper_selection

  p
    b Total Carbon (kg CO2e): #{tags}
  p 
    b Total Gold (certified carbon emisisons): #{gold}
  a(href='/users') Total Users: #{users}
  br
  a(href='/users/stampers') Total Stampers: #{stampers}

  include search.pug