h2 Profile:  
    span= user.name
div Wallet: 
    span= address
div Tags: 
    span= user.tag
div Gold: 
    span= user.gold
div Stamper: 
    if stamper.exists
        div Active: 
            span= stamper.active
        div Stamp Rate: 
            span= stamper.stamprate
        div Min Payment: 
            span= stamper.minpt
        div Last Stamp: 
            span= stamper.laststamp
    else
        span No
